@model EventModel

@{
    ViewData["Title"] = "Create Event";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link href="~/lib/bootstrap/dist/css/datepicker.css" rel="stylesheet" />
<link href="~/lib/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="/dashboard" onclick="SetMenuSelection('DashBoard')"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                    <li class="breadcrumb-item"><a href="/events-all" onclick="SetMenuSelection('DashBoard')">&nbsp;Events</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Create", "Events", FormMethod.Post, new { @class = "events", enctype = "multipart/form-data" }))
    {
        <div class="row" style="margin-top:20px;">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Event,new { @class="form-label" })
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Event,new { @class="form-control", placeholder="Event Header", autocomplete="off"})
                <div style="margin-top:8px;">
                    @Html.ValidationMessageFor(m => m.Event,string.Empty,new{@class="required"})
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Description,new { @class="form-label" })
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Description,new { id="eventdescriptionbox", @class="form-control", placeholder="Event Description", autocomplete="off", style="height:100px;"})
                <div style="margin-top:8px;">
                    @Html.ValidationMessageFor(m => m.Description,string.Empty,new{@class="required"})
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-2">
                @Html.Label("Event Type","Event Type" ,new { @class="form-label" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.EventTypeId,new SelectList(Model.EventTypes, "EventTypeId", "EventType"),"Select Event Type",new { @class = "form-control" })
                <div style="margin-top:8px;">
                    @Html.ValidationMessageFor(m => m.EventTypeId,string.Empty,new{@class="required"})
                </div>
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Location,new { @class="form-label" })
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Location,new { @class="form-control", placeholder="Event Location", autocomplete="off"})
                <div style="margin-top:8px;">
                    @Html.ValidationMessageFor(m => m.Location,string.Empty,new{@class="required"})
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-2">
                @Html.LabelFor(m => m.EventDate,new { @class="form-label" })
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.EventDate,new { id="dateEvent", @class="form-control", placeholder="Event Date", autocomplete="off", @value=Model.EventDate.ToString("dd/mm/yyyy")})
                <div style="margin-top:8px;">
                    @Html.ValidationMessageFor(m => m.EventDate,string.Empty,new{@class="required"})
                </div>
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.ActivationDate,new { @class="form-label" })
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.ActivationDate,new { id="dateEventActivation", @class="form-control", placeholder="Activation From", autocomplete="off"})
                <div style="margin-top:8px;">
                    @Html.ValidationMessageFor(m => m.ActivationDate, string.Empty, new{@class="required"})
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Banner,new { @class="form-label" })
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.BannerImage, new { id = "BannerImage", type = "file", accept = "image/*", onchange = "loadBannerImage(event)", @class = "form-control btn btn-outline-primary", style = "display:inline-block;" })
                <div style="margin-top:15px;display:none;" id="bannerDiv">
                    <button type="button" class="btn btn-outline-danger" style="float:right;margin-bottom:10px;" onclick="removeEventAttachment()">Remove Banner</button>
                    <img name="imageBannerImage" id="imageBannerImage" src="" height="100%" width="100%" alt="event banner" />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:70px;">
            <div class="col-md-6" style="float:left">
                <a href="/events/all" class="btn btn-outline-danger">Cancel</a>
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-outline-primary" style="float:right" >
            </div>
        </div>


    }

</div>

<script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
<script src="~/lib/jquery-te/jquery-te-1.4.0.min.js"></script>
<script>

    function removeEventAttachment()
    {
        jQuery("#imageBannerImage").src = "";
        jQuery("#BannerImage").val('');
        jQuery("#bannerDiv").css("display", "none");
    }

    var loadBannerImage = function (event) {
        jQuery("#imageBannerImage").each(function () {
            this.src = URL.createObjectURL(event.target.files[0]);
            console.log(event.target.files[0]);
            this.onload = function () {
                URL.revokeObjectURL(this.src) // free memory
                jQuery("#bannerDiv").css("display", "block");
                // jQuery("#imageBannerImage").css("display", "block");
            }
        })
    };

    jQuery(document).ready(function ($) {
        $("#eventdescriptionbox").jqte();
        // date controls
        var date = new Date();
        date.setDate(date.getDate());
        jQuery("#dateEvent").datepicker({
            autoclose: true,
            todayHighlight: true,
            startDate: date,
            format: 'dd/mm/yyyy'
        }).datepicker('update', new Date());
        jQuery("#dateEventActivation").datepicker({
            autoclose: true,
            todayHighlight: true,
            startDate: date,
            format: 'dd/mm/yyyy'
        }).datepicker('update', new Date());

    });

</script>